---
---

@import "base";

.current {
    text-decoration: underline;
}

.home_container{
    display:flex; 
    align-items: center; 
    flex-direction: column; 
    justify-content: space-around;

    & a{
        color: $blue;
        text-decoration: underline;
    }
}

.home_container > h1, .home_container > h2{
    padding: 25px;
    padding-top: 35px;
}

.home_container > p{
    padding: 10px;
}


footer { 
    text-align: center;
    padding-top:20px;
    font-size: 11px;
    color: darkgray;
}