---
layout: default
custom_css: article
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=509730162430734&autoLogAppEvents=1" nonce="pwMsegIz"></script>

<article id="article-container">
    <h1 id="article-title">{{ page.title }}</h1>
    <time id="article-date">
        {{ page.date | date_to_string }}
    </time>
    <section id="article-content-container">
        {{ content }}
    </section>
    <hr />
</article>

{% if page.comments %}
    <div class="comments-container">
        <h2>What do you think?</h2>

        <div id="disqus_thread"></div>
        <script>
            
            var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ page.title }}';
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://emmanuel-orozco.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
    </div>
{% endif %}
